// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$bg-purple:#9c27b0;
@import "../node_modules/bootstrap/scss/bootstrap";

